/* ===========================
   ToC 

   1.0 Phones 0 - 549px 
   1.1 Results
   =========================== */

/* =================
   Custom Properties
   ================= */

:root {
  // Colors

  --color-purple-100: 254deg, 88%, 90%;
  --color-purple-500: 256deg, 67%, 59%;

  --color-yellow-100: 31deg, 66%, 93%;
  --color-yellow-500: 39deg, 100%, 71%;

  // Neutrals
  --color-white: 0deg, 0%, 100%;
  --color-black: 0deg, 0%, 7%;
}

/* ==============================
   1.0 Phones & Tablets 0 - 900px 
   ============================== */

.main_title {
  font-size: 5rem;
}

/* =============
   1.1 grid-item
   ============= */

.grid-item {
  border-radius: 12px;

  &--1 {
    background-color: hsl(var(--color-purple-500));
    font-stretch: 50%;
    color: white;
    padding: 4rem;
    text-align: center;
    line-height: 3em;

    .ten-x {
      color: hsl(var(--color-yellow-500));
      font-size: 5.7rem;
    }

    .faster {
      font-style: italic;
    }

    &__title {
      font-size: 5.7rem;
      font-weight: 600;
      margin-block-end: 2rem;
    }

    &__img {
      scale: 70%;
    }

    &__text {
      font-size: 2.3rem;
      margin-block-start: -1.5rem;
      margin-block-end: -1rem;
    }
  }

  &--2 {
    background-color: hsl(var(--color-white));
    border-radius: 12px;
    padding: 2rem;

    &__img {
      border-radius: 100px;
      box-shadow: -10px 8px 15px 5px hsla(var(--color-black), 0.05);
      margin-block-end: 1rem;
    }

    &__title {
      font-size: 3rem;
      font-weight: 600;
      text-wrap: pretty;
      line-height: 1em;
    }
  }

  &--3 {
    background-color: hsl(var(--color-yellow-500));
    padding: 2rem;
    padding-block-end: 0;
    padding-inline-end: 9rem;

    &__title {
      font-size: 3rem;
      font-weight: 600;
      text-wrap: pretty;
      line-height: 0.9em;
      margin-block-end: -0.75rem;
    }

    &__img {
      padding-inline-end: 3rem;
      object-position: 0 3rem;
    }
  }

  &--4 {
    background-color: hsl(var(--color-purple-100));
    padding: 2rem;

    color: hsl(var(--color-black));
    text-align: center;

    &__title {
      font-size: 3rem;
      font-weight: 600;
      padding-inline: 1rem;
      margin-block-start: 1rem;
      margin-block-end: 2rem;
      letter-spacing: -0.5px;
    }

    &__text {
      font-size: 2.4rem;
      padding-inline: 1rem;
      margin-block-start: 2.5rem;
      margin-block-end: 1.5rem;
      line-height: 1em;
    }
  }

  &--5 {
    background-color: hsl(var(--color-purple-500));
    padding-inline: 5.5rem;
    padding-inline-start: 7rem;
    padding-block-start: 2rem;
    padding-block-end: 2.5rem;

    text-align: center;
    text-wrap: pretty;

    &__img {
      width: 94%;
      margin-block-start: 0.5rem;
      margin-block-end: 3.5rem;
    }

    &__title {
      color: hsl(var(--color-white));
      font-size: 4.1rem;
      font-weight: 500;
      line-height: 0.9em;
    }
  }

  &--6 {
    background-color: hsl(var(--color-white));
    color: hsl(var(--color-black));
    padding-inline: 2.5rem;
    padding-block: 1rem;

    &__title {
      font-size: 4.6rem;
      display: flex;
      align-items: center;
      font-weight: 500;

      span {
        margin-block-end: 0.5rem;
      }
    }

    &__text {
      font-size: 2.4rem;
      margin-block-end: 2rem;
    }

    &__img {
      width: 60%;
      margin-block-end: 1.5rem;
    }
  }

  &--7 {
    background-color: hsl(var(--color-yellow-100));
    padding-inline: 2.5rem;
    padding-block: 2.8rem;

    &__title {
      font-size: 4rem;
      font-weight: 600;
      line-height: 0.85em;
      margin-block-end: 3rem;

      span {
        font-style: italic;
        color: hsl(var(--color-purple-500));
      }
    }

    &__img {
      width: 66%;
    }
  }

  &--8 {
    background-color: hsl(var(--color-yellow-500));
    padding: 3rem;

    &__title {
      font-size: 3.8rem;
      font-weight: 600;
      line-height: 0.85em;
      margin-block-end: 3rem;
      text-wrap: pretty;

      span {
        font-style: italic;
        color: hsl(var(--color-purple-500));
      }
    }

    &__img {
      width: 75%;
    }
  }
}

/* ==========================
   2.0 Tablets 600px - 1399px 
   ========================== */

/* ==========
   2.1 grid-item
   ============= */

@media (min-width: 1100px) {
  .grid-item {
    border-radius: 12px;

    &--1 {
      padding: 4rem;
      padding-block-start: 5.5rem;
      text-align: center;
      line-height: 2.8em;

      .ten-x {
        font-size: 4rem;
      }

      &__title {
        font-size: 4.1rem;
        font-weight: 600;
        margin-block-end: 0.5rem;
      }

      &__img {
        scale: 50%;
        margin-block-end: -2rem;
      }

      &__text {
        margin-block-start: 0;
        margin-block-end: -1rem;
        font-size: 1.8rem;
      }
    }

    &--2 {
      padding: 2rem;
      overflow: hidden;

      &__img {
        margin-block-end: 1.2rem;
        width: 150%;
        max-width: none;
      }

      &__title {
        font-size: 2.3rem;
        line-height: 0.94em;
        margin-block-end: 0.4rem;
      }
    }

    &--3 {
      padding: 2rem;
      padding-block-end: 0;
      padding-inline-end: 2rem;
      height: 21.3rem;
      overflow: hidden;

      &__title {
        font-size: 2.3rem;
        text-wrap: wrap;
        line-height: 1em;
        margin-block-end: 1.5rem;
      }

      &__img {
        padding-inline-end: 0rem;
        object-position: 0 0;
        width: 100%;
      }
    }

    &--4 {
      padding-block: 3.1rem;
      text-align: left;
      overflow: hidden;

      &__title {
        font-size: 2.5rem;
        padding-inline: 0.5rem;
        line-height: 0.9em;
        margin-block-end: 2.27rem;
      }

      &__img {
        width: 175%;
        max-width: none;
      }

      &__text {
        font-size: 1.55rem;
        padding-inline: 1rem;
        margin-inline-start: -0.5rem;
        margin-block-start: 2.5rem;
        margin-block-end: 1.6rem;
        line-height: 1em;
      }
    }

    &--5 {
      display: flex;
      padding-inline-start: 0;
      padding-inline: 2rem;
      padding-block-start: 2rem;
      padding-block-end: 2rem;
      left: 45.3109% !important;
      top: 538px !important;

      text-align: left;
      text-wrap: balance;

      &__img {
        width: 50.8%;
        margin-block-start: 0rem;
        margin-block-end: 0rem;
      }

      &__title {
        display: flex;
        font-size: 3rem;
        font-weight: 600;
        line-height: 0.9em;
        margin-inline-start: 1rem;
        align-items: center;
      }
    }

    &--6 {
      padding-inline: 2.5rem;
      padding-block: 1rem;
      left: 22.6555% !important;
      top: 538px !important;

      &__title {
        font-size: 4rem;
      }

      &__text {
        font-size: 1.5rem;
        margin-block-end: 2.2rem;
      }

      &__img {
        width: 90%;
        margin-block-end: 1.5rem;
      }
    }

    &--7 {
      background-color: hsl(var(--color-yellow-100));
      padding-inline: 3rem;
      padding-block: 6rem;

      &__title {
        font-size: 3.2rem;
        font-weight: 600;
        letter-spacing: -1px;
        line-height: 1em;
        margin-block-end: 2.5rem;
      }

      &__img {
        width: 100%;
      }
    }

    &--8 {
      padding-inline-start: 2rem;
      padding-inline-end: 1.2rem;
      padding-block: 3rem;

      &__title {
        font-size: 3rem;
        line-height: 0.9em;
        letter-spacing: -1px;
        margin-block-end: 5rem;
      }

      &__img {
        width: 100%;
      }
    }
  }
}

/* ==========
   3.1 grid-item
   ============= */

@media (min-width: 1350px) {
  .grid-item {
    &--1 {
      .ten-x {
        font-size: 5rem;
      }

      &__title {
        font-size: 5.1rem;
      }
    }

    &--2 {
      &__img {
        margin-block-end: 1.4rem;
      }

      &__title {
        font-size: 2.5rem;
        margin-block-end: 0.2rem;
      }
    }

    &--3 {
      height: 20.5rem;
    }

    &--5 {
      left: 44.65% !important;

      &__img {
        width: 46%;
      }
    }

    &--6 {
      left: 22.1996% !important;

      &__title {
        font-size: 5rem;
        margin-block-end: 0.5rem;

        span {
          margin-block-end: 0.5rem;
        }
      }

      &__text {
        font-size: 1.45rem;
        margin-block-end: 2.5rem;
      }
    }
  }
}

/* ==========
   4.1 grid-item
   ============= */

@media (min-width: 1430px) {
  .grid-item {
    border-radius: 9px;

    &--1 {
      display: flex;
      flex-direction: column;
      padding-block-start: 6rem;
      padding-block-end: 5.7rem;

      .ten-x {
        font-size: 6rem;
      }

      &__title {
        font-size: 6rem;
        line-height: 1em;
        margin-block-end: -0.2rem;
      }

      &__img {
        scale: 42%;
        margin-block-end: -3rem;
      }
    }

    &--2 {
      padding: 2.5rem;
      padding-block-end: 2.3rem;

      &__img {
        margin-block-end: 2rem;
        box-shadow: -10px 8px 15px 5px hsla(var(--color-black), 0.03);
      }

      &__title {
        font-size: 3.1rem;
        margin-block-end: 0.2rem;
        letter-spacing: -1.5px;
        line-height: 0.9em;
      }
    }

    &--3 {
      padding: 2.5rem;
      padding-block-end: 0;
      padding-inline-end: 2rem;
      height: 24.8rem;
      overflow: hidden;

      &__title {
        font-size: 3.1rem;
        text-wrap: wrap;
        letter-spacing: -1.5px;
        line-height: 0.9em;
        margin-block-end: 1.5rem;
      }

      &__img {
        padding-inline-end: 0rem;
        object-position: 0 0;
        width: 100%;
      }
    }

    &--4 {
      padding-block: 4rem;
      padding-inline: 3.2rem;

      &__title {
        font-size: 3.15rem;
        padding-inline: 0.1rem;
        line-height: 0.85em;
        letter-spacing: -1.5px;
        margin-block-end: 2.4rem;
      }

      &__img {
        width: 184%;
      }

      &__text {
        font-size: 1.8rem;
        padding-inline: 0rem;
        margin-inline-start: 0.2rem;
        margin-block-start: 2.5rem;
        margin-block-end: 1.1rem;
        line-height: 1.1em;
      }
    }

    &--5 {
      top: 635.267px !important;
      left: 44.8611% !important;
      padding: 2.3rem;

      &__title {
        color: hsl(var(--color-white));
        font-size: 4rem;
        font-weight: 500;
        line-height: 0.9em;
        letter-spacing: -0.3px;
      }

      &__img {
        width: 110%;
      }
    }

    &--6 {
      top: 635.267px !important;
      left: 22.4306% !important;
      padding-block: 0.71rem;
      padding-inline: 2.2rem;

      &__title {
        font-size: 6.2rem;
        font-weight: 500;
        margin-block-end: -0.4rem;
        margin-inline-start: -0.25rem;

        span {
          margin-block-end: 1rem;
          font-weight: 600;
        }
      }

      &__text {
        font-size: 1.8rem;
        margin-block-end: 3.5rem;
      }

      &__img {
        width: 83%;
        margin-block-end: 1.8rem;
      }
    }

    &--7 {
      padding-inline: 3.5rem;
      padding-block: 8rem;

      &__title {
        font-size: 3.9rem;
        font-weight: 500;
        letter-spacing: -1.5px;
        line-height: 0.9em;
      }
    }

    &--8 {
      padding-inline-start: 2.4rem;
      padding-block: 2.5rem;

      &__title {
        font-size: 3.9rem;
        font-weight: 500;
        line-height: 0.92em;
        letter-spacing: -1.8px;
        margin-block-end: 5.5rem;
      }

      &__img {
        width: 98%;
      }
    }
  }
}
