/* ===========================
   ToC 

   1.0 Phone
   1.1 Footer
   2.0 Tablet 600px - 900px
   3. 550px and Above
   =========================== */

/* ===================
   1.0 Phones 0 - 549px 
   =================== */

/* =============
   1.1 Footer 
   ============= */

.attribution {
  font-size: 11px;
  text-align: center;

  text-wrap: balance;

  @media (max-width: 600px) {
    font-size: 1rem;
  }
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.app-layout {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding-inline: 5vw;
  padding-block: 8vh;
}

/* ========================
   2.0 Tablet 600px - 900px
   ======================== */

@media (min-width: 600px) {
  .app-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-item {
    align-self: center;

    &--1 {
      order: 1;
    }

    &--2 {
      order: 7;
    }

    &--3 {
      order: 2;
    }

    &--4 {
      order: 4;
    }

    &--5 {
      order: 3;
    }

    &--6 {
      order: 8;
    }

    &--7 {
      order: 6;
    }

    &--8 {
      order: 5;
    }
  }

  .attribution {
    order: 9;
    grid-column: span 2;
  }
}

/* ===========================
   3.0 Laptops 1100px - 1439px
   =========================== */
@media (min-width: 1100px) {
  .app-layout {
  }
}

/* =============================
   4.0 Desktops 1440px and up
   ============================ */
@media (min-width: 1100px) {
  .app-layout {
  }
}
