/* ===========================
   ToC 

   1.0 Phone
   1.1 Footer
   2.0 Tablet 600px - 900px
   3. 550px and Above
   =========================== */

/* ===================
   1.0 Phones 0 - 549px 
   =================== */

/* =============
   1.1 Footer 
   ============= */

.attribution {
  font-size: 11px;
  text-align: center;

  text-wrap: balance;

  @media (max-width: 600px) {
    font-size: 1rem;
  }
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.app-layout {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding-inline: 5vw;
  padding-block: 8vh;
}

.my-masonry-grid_column {
  display: grid;
}

// Displays grid items in correct order for phones
.grid-item {
  &--1 {
    order: 1;
  }
  &--2 {
    order: 2;
  }
  &--3 {
    order: 3;
  }
  &--4 {
    order: 4;
  }
  &--5 {
    order: 5;
  }
  &--6 {
    order: 6;
  }
  &--7 {
    order: 7;
  }
  &--8 {
    order: 8;
  }
}

/* ========================
   2.0 Tablet 600px - 899px
   ======================== */

/* ===========================
   3.0 Laptops 900px - 1439px
   =========================== */
@media (min-width: 900px) {
  .my-masonry-grid_column {
    display: inline-block;
  }
}

/* =============================
   4.0 Desktops 1440px and up
   ============================ */
@media (min-width: 1100px) {
  .app-layout {
  }
}

/* =============================
   5.0 react-masonry-css
   ============================ */

//  https://www.npmjs.com/package/react-masonry-css

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}
